[Desktop Entry]
Version=1.0
Name=pyMarAI (Spheroids Auto Delineation)
GenericName=pyMarAI
X-GNOME-FullName=pyMarAI
Comment=Spheroids Auto Delineation
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/usr/local/bin/pymarai
TryExec=/usr/local/bin/pymarai
Terminal=false
StartupNotify=true
